.search-bar {
  width: 40%;
  margin: auto;
}

.concert-table-div {
  margin: 40px 50px 0px 50px;
  padding: 10px;
  background-color: rgba(54, 54, 54, 0.8);
  overflow: hidden;
  max-height: 600px;
  border-radius: 10px;
}

.thead {
  border-color: #355C7D;
  border-style: solid;
}


.concert-table {
	width: 100%;
  display: block;
  overflow-y: scroll;
  max-height: 530px;
}

.table-row {
  display: block;
  height: auto;

}

.table-header {
  color: white;
  background-color: #355C7D;
}

.table-data {
  display: block;
}


table {
	width: 100%;
}

#setlist {
  color: #355C7D;
}

.setlist {
  color: #355C7D;

}

.table tbody tr:hover td, .table tbody tr:hover th {
  background: #EAA973;
}

// tbody tr:hover {
//   background: #EAA973;
// }

input.light-table-filter {
  width: 40%;
  margin: auto;
  border-radius: 10px;
}

.container {
  width: 50px;
}
