body {
  background-image: url(yvette-de-wit-118721.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}


.jam-on-logo {
  font-size: 25px;
  margin-top: 20px;
  margin-left: 40px;
}
div.jam-on-logo:hover {
  color: #053A5D;
}
.jam-on-logo:focus {
  color: white;
}
div.jam-on-logo {
  color: white;
}

.sign-in {
  font-size: 25px;
  text-align: right;
  margin-top: 20px;
  margin-right: 40px;
}
.sign-in:hover {
  color: #053A5D;
}
.sign-in:focus {
  color: white;
}

.jam-on-title {
  text-align: center;
  margin-top: 60px;
  font-size: 70px;
  color: #053A5D;
}

.top-bar {
  background: none;

}

.button:hover {
  background: #053A5D;
}

.button:focus {
  background: #053A5D;
}

.register-button {
margin-top: 5%;
padding-left: 39px;
padding-right: 39px;
background: none;
font-size: 20px;
border-radius: 50px;
border-width: thin;
border-style: solid;
border-color: #053A5D;

}
