$translucent-form-overlay-max-width: 800px;

.translucent-form-overlay {
  max-width: $translucent-form-overlay-max-width;
  margin: auto;
  margin-top: 10px;
  background-color: rgba(54, 54, 54, 0.8);
  padding: 20px;
  color: white;

  .columns.row {
    display: block;
  }

  h3, label {
    color: white;
    font-family: 'Bree Serif', serif;
  }
  input, select {
    color: dark-gray;
  }
  input::placeholder {
    color: dark-gray;
  }

}

button {
  font-family: 'Bree Serif', serif;
  background: none;
}
button:hover {
  font-family: 'Bree Serif', serif;
  background: none;
}

.user-info-container {
  display: flex;
  justify-content: space-between;
  padding-left: 40px;
  padding-right: 40px;
  flex-wrap: wrap;
}

.user-info-grid {
  width: 100%;
}

.user-info-div {
  margin: 30px 0px 0px 40px;
  background-color: rgba(54, 54, 54, 0.8);
}

.user-info {
  margin-top: 20px;
}

.user-image {
  height: 200px;
  width: 200px;
  border-radius: 100px;
  align-self: center;
  object-position: center;
  object-fit:fill;
  margin-top: 10px;
  margin-left: 10px;
}

.user-details {
  color: white;
  font-size: 30px;
  margin-left: 10px;
  text-align: center;

}

.recent-concerts {
  font-size: 30px;
  color: white;
  border-radius: 10px;
  background-color: rgba(54, 54, 54, 0.8);
  padding-right: 30px;
  padding-bottom: 5px;
  text-align: center;
  // margin-right: 40px;
  // margin-top: 30px;
  // margin-left: 20px;
  max-height: 500px;
  // position: fixed;


}


#setlist {
  color: blue;
}



.add-new-concert-text {
  text-align: center;
  margin-top: 10px;
}



.form-submit-button {
  display: block;
  margin: auto;
  background-color: #355C7D;
  border-radius: 50px;
  font-family: 'Roboto Slab', serif;
}

.form-submit-button:hover {
  color: black;
}


.number-of-shows {
  margin-top: 30px;
}

.show-counter {
  color: white;
  font-size: 30px;
  text-align: center;
  background-color: rgba(54, 54, 54, 0.8);
  border-radius: 50%;
  height: 200px;
  width: 200px;
  margin: auto;
  object-position: center;
  object-fit:fill;
  padding-top: 30px;

}

.show-total {
  font-size: 60px;
}

.table-expand {
  margin-top: 5px;;
  margin-left: 1rem;
  margin-right: 1rem;
  max-height: 200px;
  overflow: scroll;
}

.table-expand-row th {
  border-style: solid;
  border-color: #355C7D;
}

.table-expand tbody tr:hover td, .table tbody tr:hover th {
  background: #EAA973;
}

.table-expand td {
  color: black;
}

.table-expand tr {
  border: 1px solid #e6e6e6;
}

.table-expand .text-left {
  text-align: left;
}

.add-new-concert-button {
  background: rgba(54, 54, 54, 0.8);
  font-size: 20px;
  border-radius: 50px;
  margin-top: 10px;
  margin-left: 40px;
  font-family: 'Roboto Slab', serif;

}

.see-all-concert-button {
  background: rgba(54, 54, 54, 0.8);
  font-size: 20px;
  border-radius: 50px;
  margin-top: 10px;
  margin-left: -50px;
  font-family: 'Roboto Slab', serif;

}

.data-points {
  margin-top: 2\10px;
}

.top-title {
  margin-left: 10px;
  margin-right: 10px;
  background-color: #355C7D;
}

.top-artist {
  color: white;
  font-size: 20px;
  text-align: center;
  background-color: rgba(54, 54, 54, 0.8);
  border-radius: 10px;
  height: 250px;
  width: 300px;
  margin-left: 40px;
  padding-top: 10px;

}

.top-venue {
  color: white;
  font-size: 20px;
  text-align: center;
  background-color: rgba(54, 54, 54, 0.8);
  border-radius: 10px;
  height: 250px;
  width: 300px;
  margin: auto;
  object-position: center;
  object-fit:fill;
  padding-top: 10px;
}

.number {
  font-size: 30px;
  padding-bottom: 10px;
}

.show-table {
  background-color: rgba(54, 54, 54, 0.8);
  border-radius: 10px;
  color: white;
  font-size: 30px;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  overflow: hidden;
  max-height: 250px;
  margin-right: 20px;

}

.thead th {
  background-color: #355C7D;
  color: white;
}

.shows-table {
  max-height: 200px;
  overflow-y: scroll;
}


.shows-by-year-table {
  overflow-y: scroll;
  height: 200px;
}

table tbody tr:hover td, .table tbody tr:hover th {
  background: #EAA973;
}

.top-band-name {
  color: white;
  font-size: 2vw;
  font-family: 'Roboto Slab', serif;
  padding-left: 2px;
  padding-right: 2px;


}

.top-venue-name {
  color: white;
  font-size: 2vw;
  font-family: 'Roboto Slab', serif;
  padding-left: 2px;
  padding-right: 2px;
}

.number {
  font-size: 3vw;
}
