$translucent-form-overlay-max-width: 800px;

.translucent-form-overlay {
  max-width: $translucent-form-overlay-max-width;
  margin: auto;
  margin-top: 60px;
  background-color: rgba(54, 54, 54, 0.8);
  padding: 20px;
  color: white;

  .columns.row {
    display: block;
  }

  h3, label {
    color: white;
  }
  input, select {
    color: dark-gray;
  }
  input::placeholder {
    color: dark-gray;
  }
}

.user-info-div {
  margin: 30px 0px 0px 40px;
  border-style: solid;
  border-color: #053A5D;
  border-width: medium;
  background-color: rgba(54, 54, 54, 0.8);


  // overflow: hidden;
  // min-height: 300px;
}




.add-new-concert-text {
  text-align: center;
  margin-top: 10px;
}



.form-submit-button {
  display: block;
  margin: auto;
  background-color: #053A5D;
  border-radius: 50px;
}

.form-submit-button:hover {
  color: black;
}

.user-info {
  margin-top: 10px;
  margin-bottom: 5px;
}

.user-image {
  height: 200px;
  width: 200px;
  border-style: solid;
  border-color: #053A5D;
  object-position: center;
  object-fit:fill;
}

.user-details {
  color: white;
  font-size: 30px;
  text-align: center;
}

.recent-concerts {
  text-decoration: underline;
  color: white;
  border-style: solid;
  border-color: #053A5D;
  border-width: medium;
  background-color: rgba(54, 54, 54, 0.8);
  padding-right: 30px;
  text-align: center;
  margin-right: 40px;
  margin-top: 30px;

  // margin-left: 12%;

}

.table-expand {
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  // max-height: 200px;
  overflow: scroll;
}

.table-expand td {
  color: #8a8a8a;
}

.table-expand tr {
  border: 1px solid #e6e6e6;
}

.table-expand .text-left {
  text-align: left;
}

.add-new-concert-button {
  // margin: auto;
  background: rgba(54, 54, 54, 0.8);
  font-size: 20px;
  border-radius: 50px;
  border-width:medium;
  border-style: solid;
  border-color: #053A5D;
  margin-top: 10px;
}

.data-points {
  margin: -10px 50px 0px 60px;
  color: white;
  border-style: solid;
  border-color: #053A5D;
  border-width: medium;
  background-color: rgba(54, 54, 54, 0.8);
  max-height: 400px;
}

.top-artist {
  border-style: solid;
  border-color: #053A5D;
  border-radius: 50px;
  background-color: #053A5D;
}

.top-venue {
  border-style: solid;
  border-color: #053A5D;
  border-radius: 50px;
  background-color: #053A5D;

}

.shows-per-year {
  border-style: solid;
  border-color: #053A5D;
  border-radius: 50px;
  background-color: #053A5D;

}

.no-scroll {

}
